.w3-theme-l5 {color:#000 !important; background-color:#f3fafd !important}
.w3-theme-l4 {color:#000 !important; background-color:#d6eef9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#addef3 !important}
.w3-theme-l2 {color:#000 !important; background-color:#85cded !important}
.w3-theme-l1 {color:#fff !important; background-color:#5cbde7 !important}
.w3-theme-d1 {color:#fff !important; background-color:#20a1d8 !important}
.w3-theme-d2 {color:#fff !important; background-color:#1d8fc0 !important}
.w3-theme-d3 {color:#fff !important; background-color:#197da8 !important}
.w3-theme-d4 {color:#fff !important; background-color:#156b90 !important}
.w3-theme-d5 {color:#fff !important; background-color:#125978 !important}

.w3-theme-light {color:#000 !important; background-color:#f3fafd !important}
.w3-theme-dark {color:#fff !important; background-color:#125978 !important}
.w3-theme-action {color:#fff !important; background-color:#125978 !important}

.w3-theme {color:#fff !important; background-color:#34ace0 !important}
.w3-text-theme {color:#34ace0 !important}
.w3-border-theme {border-color:#34ace0 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#34ace0 !important}
.w3-hover-theme-light:hover {color:#000 !important; background-color:#f3fafd !important}
.w3-hover-text-theme {color:#34ace0 !important}
.w3-hover-border-theme:hover {border-color:#34ace0 !important}
